[submodule "cookiecutter-meta"]
	path = cookiecutter-meta
	url = git@github.com:farkasmate/cookiecutter-meta.git
[submodule "cookiecutter-rubygem"]
	path = cookiecutter-rubygem
	url = git@github.com:farkasmate/cookiecutter-rubygem.git
[submodule "cookiecutter-pipenv"]
	path = cookiecutter-pipenv
	url = git@github.com:farkasmate/cookiecutter-pipenv.git
